////////////// classess
.firstSection {
    background-image: url(../img/top-page-bg.webp);
    background-size: contain;
    background-color: #151423;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 60px;
        font-weight: 900;
    }

    p {
        color: white;
    }

}

.mask-third,
.mask-seccond,
.mask-first {
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: 100% 100%;
    mask-position: center;

    >img {
        transition: .4s;

        &:hover {
            transform: scale(1.08);
        }
    }
}

.mask-first {
    mask-image: url('../img/humans3.webp');
}

.mask-seccond {
    mask-image: url('../img/halfCircle5.webp');
}

.mask-third {
    mask-image: url('../img/human4.webp');

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 16px;
        margin-left: 4px;
        height: 280px;
        width: 280px;
        border-radius: 50%;
        border: 10px solid #0060FF;
    }
}

.up-down-anim {
    position: relative;
    top: 50px;
    animation-name: updown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    display: flex;
    transform: translateY(0);
}

@keyframes updown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(40%);
    }
}

.down-up-anim {
    position: absolute;
    bottom: 0;
    right: 0;
    animation-name: downup;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    display: flex;
    transform: translateY(0);
}

@keyframes downup {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(40%);
    }
}


.forthsection {
    min-height: 700px;
    background-image: url('../img/3.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.glass-papper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgb(0 2 74 / 81%);
}



.dropdown-wrapper {
    >div {
            border-radius: 4px 4px 0 0;
            margin: 10px 0 0;
            font-weight: bold;
            cursor: pointer;
    
    }

    p {
        border-radius: 0 0 10px 10px;
        transition: 400ms;
        max-height: 0;
        overflow-y: hidden;
        padding: 0 20px 20px;
        opacity: 0;
    }
}


.question-img {
    position: relative;
    top: 70px;
    left: 40px;
    animation-name: question;
    animation-name: downup;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    display: inline-block;
    transform: translateY(0);
}

@keyframes question {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(40%);
    }
}


.list-on {
    list-style: disc;
    color: #0060FF;

}   

.child-hover{
    >div{
        transition: .5s;
        i{
            transition: .5s;
        }
        &:hover{
            background-color: #0060FF;
            i{
                color: white;
            }
        }
    }
}