.logo {
    img {
        width: 80px;

    }
}

.menu{
    li{
        a{
            color: rgb(19, 19, 19);
            padding: 0 10px;
            font-weight: 500;
            font-size: 18px;
        }
    }
}

