@for $i from 5 to 50 {
    .fz-#{$i}{
        font-size: #{$i}+px;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin-bottom: 0;
}

figure{
    margin: 0;
}

.container-fluid{
    padding: 0 !important;
}

.bg-dark-blue{
    background-color: #151423;
}

.btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
}

.hover-blue{
    transition: .4s;
    &:hover{
        border:1px solid rgb(40, 40, 255) !important;
    }
}


////////////////// colors
.color-gray{
    color: #616161;
}


.color-blue-main{
    color: #0060FF;
}

// /////////////// bg colors
.bg-light-white{
    background-color: #f4f8ff;
}

.bg-blue-main{
    background-color: #0060FF;
}

.bg-blue-glass{
    background-color: rgba(3, 11, 24, 0.6);
}

///////// with & height

.h-270-p{
    height: 270px;
}

.h-50-p{
    height: 50px;
}

.w-50-p{
    width: 50px;
}

.w-270-p{
    width: 270px;
}

.mw-570{
    max-width: 570px;
}

.mw-500{
    max-width: 500px;
}
.mw-400{
    max-width: 400px;
}


////////////// border- radius
.bdrs-one-way{
    border-radius: 50% 0 50% 50%;
}

// zIndex

.z-index-1{
    z-index: 1;
}